<nav style="text-align: center">
  <header>
    <img src="./assets/image_large.png">
  </header>

  <body>
    
  
  <ul>
    <li><a href="/home">Inicio</a></li>
    <li><a href="/regulamento">Regulamento</a></li>
    <li><a href="/equipes">Equipes</a></li>
    <div class="dropdown">
      <button class="dropbtn">Resultados
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/basquete">Basquete</a>
        <a href="/futeboldesete">Futebol de 7</a>
        <a href="/natacao">Natação</a>
        <a href="/jiujitsu">Jiu-Jitsu</a>
        <a href="/queimada">Queimada</a>
        <a href="/tenis-de-mesa">Tênis de Mesa</a>
        <a href="/voleibol">Voleibol</a>
        <a href="/xadrez">Xadrez</a>
        <a href="/futsal">Futsal</a>
        <a href="/atletismo">Atletismo</a>
      </div>
    </div>
  </ul>
</body>
  <router-outlet></router-outlet>
  <footer class="footer">
    Footer
  </footer>
</nav>